main {
    background-color: #A3D465;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}

@media (min-width: 769px) {
    main {
        width: 80%;
    }
}

/* Banner */

.banner > img {
    position: relative;
    width: 100%;
    height: 200px;
}

.banner > h1 {
    font-family: metropolis-md;
    font-size: 33px;
    /* color: #137F82; */
    color: #000;
    position: absolute;
    margin-left: 50px;
    float: left;
    top: 60px;
}

@media (min-width: 1025px) {
    .banner > img {
        width: 80vw;
        height: auto;   
    }

    .banner > h1 {
        top: 100px;
    }
}


/* Content */
.content {
    margin-top: -100px;
    margin-bottom: 100px;
    padding: 0 40px;
}

.content > .profile {
    text-align: start;
    padding: 20px;
    font-family: metropolis;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;

}

.content > .profile:hover {
    cursor: pointer;
    /* border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.07); */
}

.profile h1 {
    font-family: metropolis-md;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.profile h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 300px;
}

.profile div {
    color: #fff;
    margin-left: 20px;
}

.profile img {
    width: 161px;
    height: 161px;
}


/* Ministry Modal */
.close-min {
    color: 000;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.close-min:hover,
.close-min:focus {
    color: #EEE;
    text-decoration: none;
    cursor: pointer;
}

.ministry-modal {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.ministry-modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 30px 20px;
    width: 100%;
    height: 100%;
    max-width: 769px;
}

.ministry-modal-content img {
    width: 161px;
    height: 161px;
    position: relative; 
}

.ministry-modal-content .profile-data > p {
    margin-bottom: 20px;
}

.ministry-modal-content .profile-data h1 {
    font-family: metropolis-md;
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
}

.ministry-modal-content h1  {    
    text-align: center;
    font-family: metropolis-bold;
    font-size: 40px;
    padding: 20px;
}

.ministry-modal-content > div:nth-child(2) {
    display: flex;
    width: 90%;
    margin:  0 auto;
}

.ministry-modal-content > div:nth-child(4)  {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: auto;
    height: 500px;
    margin-top: 50px;
}

.ministry-modal-content .profile-data {
    margin-top: 20px;
    width: 100%;
}

.ministry-modal-content .profile-data p {
    font-family: metropolis;
    font-size: 20px;
}

.ministry-modal-content .profile-data button {
    cursor: pointer;
    font-family: metropolis;
    font-size: 16px;
    border: 0;
    padding: 10px 40px;
    background-color: #A3D465;
    border-radius: 20px;
}

.ministry-modal-content table {
    font-family: metropolis;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.ministry-modal-content table th {
    text-align: center;
    font-family: metropolis-bold;
    text-transform: uppercase;
    background-color: #EEEEEE;
    padding: 5px 10px;
}

.ministry-modal-content > select {
    cursor: pointer;
    font-family: metropolis-bold;
    font-family: 20px;
    padding: 10px;
    border: 0;
    margin: 10px 0 10px 30px;
    position: absolute;
    display: block;
    float: left;
}

.ministry-modal-content .profile-data div {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width: 769px) {
    .ministry-modal{
        padding-top: 150px;
    }
    
    .ministry-modal-content {
        border-radius: 20px;
        height: 600px;
    }
    
    .ministry-modal-content div:nth-child(4){
        height: 300px;
    }
}


.ministry-modal-content table tr td:nth-child(odd) {
    color: #000;
    background-color: #A3D465;
}

.ministry-modal-content table tr td:nth-child(even) {
    color: #000;
    background-color: #7eaf3e;
}
.ministry-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #9abf69;
}

.ministry-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.ministry-modal-content table th {
    background-color: #EEE;
    color: #000;
    opacity: 1;
}